<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.sso2.dao.LocalAuthMapper">
    <select id="getUserByNameAndPassword" resultType="com.bdqn.sso2.pojo.LocalAuth">
        select  * from  tb_local_auth where  username = #{userName} and  password = #{password}
    </select>
</mapper>